@use "../globalConst" as g;

.blogsContainer {
  width: 60%;
  margin: 0 20% 0 20%;
  display: inline-block;
}

.blog {
  border-width: 0px;
  border-color: g.$theme_secondary;
  border-style: solid;
  border-radius: 3px;
  background-color: g.$theme_tertiary_light;
  margin: 0 5px 10px 5px;
  padding-top: 1px;

  padding-bottom: 1px;
  height: fit-content;
}
.img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.content {
  font-size: 16px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.date {
  font-weight: bold;
}
