$theme_primary_light: #53999377;
$theme_secondary: hsla(0, 3%, 17%, 0.486);
$theme_tertiary_dark: black;
$theme_tertiary_light: rgba(255, 255, 255, 0.26);
$font_primary: "Time New Roman", serif;
$font_primary_color: Black;

$main_wrapper_width: 1630px;
