body {
  font-family: "arial", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "arial", serif;
  /* overflow-y: hidden; */
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}
